<!-- CTA -->

<table class="w-full s:w-full">
  <tr>
    <td>
      <table class="w-full">
        <tr>
          <td class="text-center py-[26px] pb-[40px] s:w-full">
            <x-button
              width="400"
              height="46"
              leading="24"
              padding="8px 50px"
              rounded="10"
              bgColor="#008080"
              href="#"
              class="font-bold text-white text-[20px] leading-[23px] text-center sm:px-[27px]"
              >Ut enim ad minim veniam
            </x-button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
