<table class="w-full bg-[#ffffff]">
  <!-- First section: Header row -->
  <tr>
    <td
      class="text-[#000000] text-[12px]  leading-[14px] 
      pt-[30px] px-[20px] text-left font-semibold  "
    >
      Ut enim ad minim:
    </td>
  </tr>
  <!-- First section: Paragraph rows -->
  <tr>
    <td
      class="text-[#000000] text-[12px] leading-[14px] pt-[10px] px-[20px] 
      text-left  "
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </td>
  </tr>
  <tr>
    <td
      class="text-[#000000] text-[12px] leading-[14px] pt-[10px] 
      px-[20px] text-left  "
    >
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </td>
  </tr>
   <!-- Second section: Header row -->
  <tr>
    <td
      class="text-[#000000] text-[12px] leading-[14px] pt-[30px] 
      px-[20px] pb-[10px] text-left font-semibold  "
    >
      Sint occaecat cupidatat:
    </td>
  </tr>
  <!-- Nested table for numbered list -->
    <tr>
      <td class="w-full">
        <table class="w-full">
          <tr>
            <td valign="top" class="w-[35px] text-[#000000] text-[12px] 
            leading-[14px] text-right  ">
              1.
            </td>
             
            <td valign="top" class="w-[565px] text-[#000000] 
            text-[12px] leading-[14px] pl-[5px] text-left sm:pr-[15px]">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </td>
          </tr>
          <tr>
            <td valign="top" class="w-[35px] text-[#000000] 
            text-[12px] leading-[14px] text-right  ">
              2.
            </td>
             
            <td valign="top" class="w-[565px] text-[#000000] 
            text-[12px] leading-[14px] pl-[5px] text-left sm:pr-[8px]">
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</td>
          </tr>
        <table>
      </td>
     </tr>
     
      
     
  </table>
 
