<table class="w-full bg-[#F0F5F5]">
  <!-- Header Row: Contains the main title -->
  <tr>
    <td class="w-full">
      <table class="w-full">
        <tr>
          <!-- Padding column for spacing -->
          <td class="w-[20px]"></td>

          <!-- Main content area -->
          <td class="w-[560px]">
            <table class="w-full">
              <tr>
                <td
                  class="text-[#005555] text-[24px] leading-[28px] py-[26px] text-center font-bold"
                >
                  Sint cupidatat occaecat ut
                </td>
              </tr>
              <tr>
                <td class="w-full pb-[35px]">
                  <!-- Inner Table for two-column layout -->
                  <table class="w-full">
                    <tr>
                      <!-- First Content Column -->
                      <td
                        class="w-[290px] sm:w-full sm:inline-block bg-white align-center-table"
                      >
                        <table class="w-full">
                          <tr>
                            <td class="pt-[25px] text-center sm:pt-[30px]">
                              <x-image
                                class="w-[100px] max-w-[110px] sm:w-full"
                                imgUrl="./image-3.png"
                                alt="Icon"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="text-[#005555] text-[20px] leading-[23px] py-[15px] text-center font-bold sm:pt-[20px]"
                            >
                              Nisi ut ade
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="text-[#444444] text-[16px] leading-[18px] pb-[35px] px-[19px] text-center sm:px-[25px]"
                            >
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim
                              veniam.<span
                                class="leading-0 text-[12px] align-[4px]"
                                >¹</span
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                      <!--Middle Spacer Column -->
                      <td
                        class="w-[20px] max-w-[20px] sm:w-full sm:inline-block align-center-table"
                      ></td>
                      <!-- Second Content Column (Similar to the First Content Column) -->
                      <td
                        class="w-[290px] sm:w-full sm:inline-block bg-white align-center-table"
                      >
                        <table class="w-full">
                          <tr>
                            <td class="pt-[25px] text-center sm:pt-[30px]">
                              <x-image
                                class="w-[100px] max-w-[110px] sm:w-full"
                                imgUrl="./image-3.png"
                                alt="Icon"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="text-[#005555] text-[20px] leading-[23px] py-[15px] text-center font-bold sm:pt-[20px]"
                            >
                              Duis aute irure
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="text-[#444444] text-[16px] leading-[18px] pb-[35px] px-[19px] text-center sm:px-[25px]"
                            >
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim
                              veniam.<span
                                class="leading-0 text-[12px] align-[4px]"
                                >2</span
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <!-- Padding column for spacing -->
          <td class="w-[20px]"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
